/*
  1. Box Sizing: Setea el modelo de caja para todos los elementos.
  El tamaño total incluirá contenido, relleno y borde, pero no márgenes.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Elimina el margen predeterminado en todos los elementos.
*/
* {
  margin: 0;
}

/*
  3.
  Permite alturas basadas en porcentaje en la aplicación.
*/
html, body {
  height: 100%;
}

/*
  .containerClass: Establece ancho al 100% y altura al 100% de la ventana gráfica.
*/
.containerClass {
  width: 100%;
  height: 100vh;
}

/*
  .sceneWrapper: Establece ancho y altura al 100%, posicionándolo relativamente.
*/
.sceneWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/*
  .promptContainer: Establece un contenedor fijo en la parte inferior izquierda de la pantalla.
  Ancho 40%, altura 15%, texto centrado, algunos márgenes y rellenos.
*/
.promptContainer {
  position: fixed;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  width: 40%;
  height: 15%;
  text-align: center;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  z-index: 9999;
}

/*
  .textarea: Establece un área de texto con ancho 300px, altura 100px, márgenes y rellenos.
*/
.textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 10px;
}

/*
  .button: Establece un botón con fondo negro, texto blanco, relleno, bordes redondeados y cursor puntiagudo.
*/
.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*

  centrar spinner

*/

.centerSpinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/*

  spinner

*/

.spinner {
  border: 25px solid rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left-color: black;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
